.container {
  max-width: 600px;
}

.card {
  margin-top: 20px;
}

.status {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.ico {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  padding: 2px;
  border-radius: 4px;
  margin-right: 8px;
}

.sim {
  text-align: justify;
  font-size: 0.9em;
}

.ml-2 {
  margin-left: 8px;
}

.road-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.road {
  width: 150px;
  height: 100%;
  background-color: #ccc;
  margin: 0 auto;
  position: relative;
  border-left: 2px dashed #fff;
  border-right: 2px dashed #fff;
  overflow: hidden;
}

/* Erste bewegte Straßenlinie */
.road.active::before {
  content: '';
  position: absolute;
  left: 5%;
  transform: translateX(-50%);
  width: 4px;
  height: 200px;
  background-color: white;
  animation: moveLine 0.8s linear infinite;
  z-index: 1;
}

/* Zweite bewegte Straßenlinie */
.road.active::after {
  content: '';
  position: absolute;
  left: 5%;
  transform: translateX(-50%);
  width: 4px;
  height: 200px;
  background-color: white;
  animation: moveLine 0.8s linear infinite;
  animation-delay: 0.4s;
  z-index: 1;
}

@keyframes moveLine {
  0% {
    top: -200px;
  }
  100% {
    top: 400px;
  }
}

/* Regenanimation innerhalb der Straße */
.road.active.rain {
  position: relative;
}

/* Erste Regenlinie */
.road.active.rain .rain-layer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150px; /* Genau die Straßenbreite */
  height: 400px;
  background: repeating-linear-gradient(
    -45deg, /* Rechts oben nach links unten */
    transparent,
    transparent 10px,
    rgba(0, 123, 255, 0.7) 10px,
    rgba(0, 123, 255, 0.7) 12px
  );
  animation: rainFall 2s linear infinite;
  z-index: 2; /* Über Straßenlinien */
}

/* Zweite Regenlinie */
.road.active.rain .rain-layer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 400px;
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(0, 123, 255, 0.7) 10px,
    rgba(0, 123, 255, 0.7) 12px
  );
  animation: rainFall 2.5s linear infinite;
  animation-delay: 0.50s;
  z-index: 2; /* Über Straßenlinien */
}

@keyframes rainFall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -20px 20px; /* Nach links unten */
  }
}

.car {
  width: 50px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 3; /* Über Regen */
}

.lead-car {
  background-color: #007bff;
}

.ego-car {
  background-color: #28a745;
}
